.ngpx__container {
    width: 150px;
    padding: 10px;
    text-align: center;
    background: #ffdab3!important;
}

.popperSpecialStyle {
    width: 150px;
    padding: 10px;
    text-align: center;
    background: #ffdab3!important;
}