<!-- <img src='../../../assets/images/layoutBackground.png'> -->
<div class='layout'>

  <div class='row maxH'>


    <!-- Left Column (1/3) -->
    <div class="col-md-4 red maxH">
      <div class='row hR1'>

        <!-- Attributes -->
        <div class='col-md-4 maxH red2'></div>

        <!-- Skills, Saving Throws, Etc -->
        <div class='col-md-8 maxH red3'>
          <!-- Inspiration -->
          <div class="col-md-12 red4 hRR1"></div>
          <!-- Proficiency Bonus -->
          <div class="col-md-12 hRR2"></div>
          <!-- Savint Throws -->
          <div class="col-md-12 hRR3 red4"></div>
          <!-- Skills -->
          <div class="col-md-12 hRR4"></div>
        </div>       

      </div>
      <!-- Passive Perception -->
      <div class='col-md-12 red4 hR2'></div>
      <!-- Languages and other Proficiencies -->
      <div class='col-md-12 red5 hR3'></div>
    </div>


    <!-- Middle Column (2/3) -->
    <div class="col-md-4 green maxH">
      <!-- AC, Init, Speed -->
      <div class='row hM1 g1'>
        <div class="col-md-4"></div>
        <div class="col-md-4 g3"></div>
        <div class="col-md-4"></div>
      </div>
      <!-- Current HP -->
      <div class='col-md-12 hM2 g2'></div>
      <!-- Temp HP -->
      <div class='col-md-12 hM3 g1'></div>
      <!-- Hit Dice and Death Saves -->
      <div class='row hM4 g2'>
        <div class="col-md-6"></div>
        <div class="col-md-6 g3"></div>
      </div>
      <!-- Attacks and Spellcasting -->
      <div class='col-md-12 hM5 g1'></div>
      <!-- Equipment -->
      <div class='row hM6 g2'>
        <!-- Gold -->
        <div class='col-md-3 g3'>
          <div class="col-md-12 hGold">CP</div>
          <div class="col-md-12 hGold g1">SP</div>
          <div class="col-md-12 hGold">EP</div>
          <div class="col-md-12 hGold g1">GP</div>
          <div class="col-md-12 hGold">PP</div>
        </div>
        <!-- Equipment -->
        <div class='col-md-9'></div>
      </div>

    </div>


    <!-- Right Column (3/3) -->
    <div class="col-md-4 blue maxH">
      <!-- Personality -->
      <div class="col-md-12 hB1 b1"></div>
      <div class="col-md-12 hB2 b2"></div>
      <div class="col-md-12 hB3 b1"></div>
      <div class="col-md-12 hB4 b2"></div>
      <div class="col-md-12 hB5 b1"></div>
    </div>







  </div>

</div>

