<div class="border bg">
  <ul class="list-group">
    <li class="list-group-item nopadding transparent"
      *ngFor = "let savingThrow of savingThrows">
      <!-- <div class='row width100 nopadding nomargin' > -->
        <span *ngIf='savingThrow.selected; else notProficientST' class='col-xs-1 prof10'>
            <input type="checkbox" name="{{savingThrow.type}}" checked>
        </span>
        <ng-template #notProficientST>
          <span class='col-xs-1 prof10'>
            <input type="checkbox" name="{{savingThrow.type}}">
          </span>
            
        </ng-template>
        
        <span class='col-xs-1 txtfont'>
            +{{savingThrow.modifier}}
        </span>
        <span class='col-xs-10 transparent txtfont'
          [ngClass]="{'badge badge-primary badge-pill': savingThrow.selected, small:true}">
              {{savingThrow.type}}
          </span>
      <!-- </div> -->
    </li>
  </ul>
  <h6 style='text-align: center;'>Saving Throws</h6>
</div>