<div class="container border">
  <div class="row">
    <div class="col-md-4 nameBG">
      <p>{{character.name}}</p>
    </div>
    <div class="col-md-8 infoBG">
      <!-- TABLE!-->
      <table class="table table-light">
          <tbody>
            <tr>
              <td>{{character.class}} ({{character.level}})</td>
              <td>{{character.background}}</td>
              <td>{{character.playerName}}</td>
            </tr>
            <tr>
              <td>{{character.race}}</td>
              <td>{{character.alignment}}</td>
              <td>{{character.experiencePoints}}</td>
            </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>