<div class="border">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>{{name}}</p>
    </div>
    <div class="col-lg">
      <!-- TABLE!-->
      <table class="table table-light">
          <tbody>
            <tr>
              <td>{{class}} ({{level}})</td>
              <td>{{background}}</td>
              <td>{{playerName}}</td>
            </tr>
            <tr>
              <td>{{race}}</td>
              <td>{{alignment}}</td>
              <td>{{exp}}</td>
            </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>
</div>