<div class="container">
  <div class="row">
      <div class="col justify-content-md-center">
    <app-info [character] ="character"></app-info>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <app-stats [abilities]= "character.abilities"></app-stats>
      <app-languages [languages]="character.languages"></app-languages>
    </div>
    <div class="col-3">
      <app-saving-throws [savingThrows]="character.abilities"></app-saving-throws>
      <app-skills [skills]="character.skills"></app-skills>
    </div>
    <div class="col-3">
      <app-status [character] = "character"></app-status>
      <app-attacks [attacks]="character.attacks"></app-attacks>
      <app-equipment [equipment]="character.equipment"></app-equipment>
    </div>
    <div class="col-4">
      <app-personality [character]="character"></app-personality>
      <app-features [features]="character.featuresAndTraits"></app-features>
    </div>
  </div>
</div>