<div class="container">
  <div class="row">
      <div class="col justify-content-md-center">
    <app-info></app-info>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <app-stats [attributes]= "character.attributes"></app-stats>
    </div>
    <div class="col-3">
      <app-saving-throws [savingThrows]="character.attributes"></app-saving-throws>
      <app-skills></app-skills>
      <app-languages></app-languages>
    </div>
    <div class="col-3">
      <app-status></app-status>
      <app-attacks></app-attacks>
    </div>
    <div class="col-4">
      <app-personality></app-personality>
      <app-features></app-features>
    </div>
  </div>
</div>