.nopadding{
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}
/* .rowBody{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  } */
.colOne{
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.colTwo{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.colThree{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.status{
    flex-grow:1;
}

.attack{
    flex-grow:3;
}

.equipment{
    flex-grow:1;
}

/* .tableStats{
    display: table;
}
*/
.statCell{
    height: 100%;
} 

.proficiencyBG{
    background-image: url('../../../assets/images/ProficiencyBonusComponentBackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 5vh;
}

.inspirationBG{
    background-image: url('../../../assets/images/inspirationComponentBackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.langBG{
    background-image: url('../../../assets/images/LanguageComponentBackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.equipmentBG{
    background-image: url('../../../assets/images/EquipmentComponentBackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.attackBG{
    background-image: url('../../../assets/images/AttackComponentBackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.inspiration{
    position: relative;
    vertical-align: -webkit-baseline-middle;
    padding-left: 20px;
    zoom: 2.5;
}