<div class="border">
    <div class="container">
        <div class="row border">
          <div class="col-sm border">
            <p class="small">AC</p>
            {{character.armorClass}}
          </div>
          <div class="col-sm border">
            <p class="small">Initiative</p>
            {{character.initiative}}
          </div>
          <div class="col-sm border">
            <p class="small">Speed</p>
            {{character.speed}}
          </div>
        </div>
        <div class="row border">
          <div class="col-sm border">
            {{character.hitPointMaximum}}
            {{character.currentHitPoints}}
          </div>
        </div>
        <div class="row border">
          <div class="col-sm">
            {{character.temporaryHitPoints}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm border">
            {{character.hitDiceTotal}}
            {{character.hitDiceType}}
          </div>
          <div class="col-sm border">
            {{character.deathSavesSuccesses}}
            {{character.deathSavesFailures}}
          </div>
        </div>
      </div>
    </div>